* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

body {
    background-color: #C3DCE0;
}

button {
    background-color: #4E5859;
    width: 100px;
    border-radius: 20px;
    color: white;
    border: 2px solid #131616;
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 20px;
}

header {
    background-color: white;
    color: #131616;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 60px;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
    width: 950px;
}

.searchField {
    width: 250px;
    border: 2px solid #4E5859;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px;
    margin-top: 50px;
}

.mainContainer {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-height: 600px;
    margin: 40px auto 0;
    width: 950px;
  section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .movie-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      p {
        padding: 10px;
      }
    }
  }
}

.navBar {
    background-color: #758486;
    height: 30px;
    border-top: 2px solid #131616;
    border-bottom: 2px solid #131616;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 950px;
    background-color: #758486;
    padding: 0;
    height: 100%;
    li {
        width: 33%;
        height: 100%;
        padding: 5px;
        text-align: center;
        font-size: 16px;
    }
    li:hover {
        background-color: white;
    }
}
.user {
  h2 {
    font-size: 40px;
    margin: 20px;
  }
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  li {
    margin: 10px;
    font-size: 20px;
  }
}
#movie-rating {
  width: 60px;
}
