* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #C3DCE0;
}

button {
    top: 210px;
    position: relative;
    float: left;
    left: 420px;
    background-color: #4E5859;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    color: white;
    border: 2px solid #131616;
    font-family: 'Julius Sans One', sans-serif;
}

header {
    top: 50px;
    position: relative;
    font-size: 50px;
    background-color: white;
    width: 950px;
    text-align: center;
    font-weight: bolder;
    color: #131616;
    font-family: 'Julius Sans One', sans-serif;
    border-bottom: 2px solid #131616;
    border-top: 2px solid #131616;
}

.searchBar {
    position: relative;
    top: 150px;
    left: 270px;
    width: 200px;
    border: 2px solid #4E5859;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    padding: 12px 20px;
}

.mainContainer {
    width: 950px;
    height: 600px;
    border-radius: 20px;
    background-color: white;
    margin: 40px auto 0;
    position: relative;
}

.navBar {
    background-color: #758486;
    position: relative;
    float: right;
    top: 50px;
    padding: 0;
    margin: 0;
    height: 20px;
}

ul {
    list-style: none;
    width: 950px;
    background-color: #758486;
    padding: 0;
    margin: 0;
    height: 25px;
    border-bottom: 2px solid #131616;

    li {
        display: inline-block;
        width: 33%;
        text-align: center;
        padding: 0;
        height: 25px;
        padding-top: 5px;
        border-bottom: 2px solid #131616;
    }

    li:hover {
        background-color: white;
    }
}

.topMovies{
  position: relative;
  float: right;
  width:950px;
  height:150px;
  top:300px;
  border-top: 2px solid #131616;
  border-bottom: 2px solid #131616;

}
